@import "./../../variables.css";

.button {
    --main-background-color: var(--main-light-button-background-color);
    --main-text-color: var(--light-button-text-color);
    --shadow-color: var(--light-shadow-color);
}

@media (prefers-color-scheme: dark) {
    .button {
	--main-background-color: var(--main-dark-button-background-color);
	--main-text-color: var(--dark-button-text-color);
	--shadow-color: var(--dark-shadow-color);
    }
}

.button.push {
    margin: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid 2px var(--border-color); 
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    box-shadow: 5px 5px 10px var(--shadow-color),
		inset 0 0 0 var(--shadow-color);
    transition: all 0.5s ease-in-out;
}

.button.push:active {
    box-shadow: 0 0 0 var(--shadow-color),
		inset 5px 5px 10px var(--shadow-color);
    transform: scale(0.95);
}


