@import "../../variables.css";

#store-selector {
    --arrow-color: var(--euro-blue);
    --menu-surface-bg-color: var(--metalic-gray);
}

@media(prefers-color-scheme: dark) {
    #store-selector {
	--arrow-color: var(--atomic-black);
	--menu-surface-bg-color: var(--slate-gray);
    }
}

#store-selector {
    margin-top: 2rem;
    align-self: start;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    animation: search-load 0.3s ease-in;
	.store-selector-button {
	    background-color: rgb(from var(--black) r g b / 0.2);
	    height: 100%;
	    transform: translateX(-51rem);
	    transition: transform 0.3s ease-out;
	    svg {
		height: 2rem;
		width: 2rem;
		fill: var(--arrow-color);
		transition: ease-out 0.3s;
	    }
	    svg.left {
		transform: rotate(180deg);
	    }
	}
	.store-selector-button:hover {
	    background-color: rgb(from var(--black) r g b / 0.3);
	}
	.store-selector-button:active {
	    svg {
		transform: scale(0.8);
	    }
	}
	.store-selector-button.menu-open {
	    transform: translateX(0);
	}

    transition: ease-in 0.3s;
}

.store-selector-surface {
    background-color: var(--menu-surface-bg-color); 
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    padding: 0 2rem 0 2rem;
    transform: translateX(-51rem);
    transition: transform 0.3s ease-out;
    pointer-events: none;
}

.store-selector-surface.menu-open {
    transform: translateX(0);
    pointer-events: auto;
}

#store-search-dialog[open] {
    width: 100%;
    height: 100%;
    margin: 1rem 0  0 1rem;
}

@keyframes search-load {
    0% {
	transform: translateX(-100%);
    }
    100% {
	transform: translateX(0);
    }
}
