@import "./../variables.css";

.login-form {
    --background-color: var(--concrete); 
    --border-color: var(--electric-blue);
    --shadow-color: var(--dark-cool-gray);
    --input-bg-color: var(--white);
    --form-button-text-color: var(--electric-blue);
}

@media(prefers-color-scheme: dark) {
    .login-form {
	--background-color: var(--carbon-black);
	--border-color: var(--main-dark-bg-color);
	--shadow-color: var(--atomic-black);
	--input-bg-color: var(--metalic-gray);
	--form-button-text-color: var(--metalic-gray);
    }
}

.login-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 720px;
    background-color: var(--background-color);
    border: solid 2px var(--border-color); 
    padding: 5rem 0 5rem 0;
    border-radius: 100px;
    box-shadow: 10px 10px 5px 5px var(--shadow-color),
		inset 0 0 0 0 var(--shadow-color);
    transition: all 0.15s ease-out;
    cursor: pointer;

    .form-field {
	margin: 2rem;
	position: relative;
	width: 80%;

	input {
	    font-size: 1.5rem;
	    width: 100%;
	    padding: 0.2rem 1rem 0.2rem 1rem;
	    border-color: var(--border-color);
	    border-radius: 50px;
	    background-color: var(--input-bg-color);
	    }
	input:focus {
	    transition: all 0.3s ease-in;
	    transform: scale(1.02);
	    outline: solid 2px var(--border-color);
	    box-shadow: 0 0 2rem var(--shadow-color);
	}

	.error-message {
	    position: absolute;
	    top: 105%;
	    left: 5%;
	    color: var(--error-text);
	}
    }

    span {
	font-size: 2rem;
	font-weight: bold;
	color: var(--form-button-text-color);

    }
}

.login-form.active {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 var(--shadow-color),
		inset 10px 10px 5px 5px var(--shadow-color);
    pointer-events: none;
}

@media (width < 1080px) {
    .login-form {
	width: 50%;
	min-width: 720px;
    }
}

@media (width < 720px) {
    .login-form {
	width: 95%;
	min-width: 256px;
    }
}

