@import "./variables.css";

:root {

    --main-bg-color: var(--main-light-bg-color);
    --main-text-color: var(--secondary-light-text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
	--main-bg-color: var(--main-dark-bg-color);
	--main-text-color: var(--secondary-dark-text-color);
    }
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
