:root {

    /*Raw values*/

    --black: rgb(0,0,0);
    --atomic-black: rgb(15,15,15);
    --eerie-black: rgb(24,24,24);
    --carbon-black: rgb(33,33,33);
    --dark-charcoal: rgb(48,48,46);
    --charcoal: rgb(38,38,36);
    --dark-cool-gray: rgb(77,81,86);
    --metalic-gray: rgb(192,192,192);
    --olive-gray: rgb(38,38,34);
    --pale-gray: rgb(227,227,227);
    --retro-black: rgb(31,31,31);

    --concrete: rgb(242,242,242);
    --pale-blue-gray: rgb(232,234,237);
    --argent: rgb(191,191,191);
    --white: rgb(255,255,255);

    --spring-sky: rgb(52,171,235);
    --admiral: rgb(5,16,148);
    --euro-blue: rgb(15,33,139);
    --electric-blue: rgb(0,0,248);
    --light-electric-blue: rgb(80,80,248);

    --euro-yellow: rgb(255,255,0);
    --metalic-orange: rgb(219,83,2);
    --crimson: rgb(220,20,60);

    /*Bacground variables*/

    --main-light-bg-color: var(--white);
    --secondary-light-bg-color: var(--argent);
    --thertiary-light-bg-color: var(--metalic-gray);
    --main-light-text-color: var(--black);
    --secondary-light-text-color: var(--atomic-black);
    --tertiary-light-text-color: var(--retro-black);
    --light-shadow-color: var(--dark-cool-gray);
    --border-color: var(--black);
    --light-button-text-color: var(--euro-yellow);
    --main-light-button-background-color: var(--electric-blue);

    --main-dark-bg-color: var(--atomic-black);
    --secondary-dark-bg-color: var(--dark-cool-gray);
    --thertiary-dark-bg-color: var(--dark-charcoal);
    --main-dark-text-color: var(--white);
    --secondary-dark-text-color: var(--pale-gray);
    --tertiary-dark-text-color: var(--argent);
    --dark-shadow-color: var(--atomic-black);
    --dark-button-text-color: var(--metalic-gray);
    --main-dark-button-background-color: var(--carbon-black);

    /*Text variables*/

    --error-text: var(--crimson);
}

